// CSS overrides

// Load code highlighter
@import "pygments";

// Import patterns from Ubuntu Style Guide
@import url(http://assets.ubuntu.com/sites/guidelines/css/latest/ubuntu-styles.css);

// Disable org button
.course-info .intro .heading-group h1 button {
  display: none;
}

// The HTML xmodule
.xblock-student_view-html {
  // Center all images
  img {
    display: block;
    margin: 0 auto;
  }

  // hastexo XBlock theme
  .lab_instructions {
    height: 20em;
    overflow-y: auto;
    margin-bottom: 1em;
    box-shadow: .5em .5em .5em black;
  }
}
