// CSS overrides

// Load code highlighter
@import "pygments";

// Disable org button
.course-info .intro .heading-group h1 button {
  display: none;
}

// The HTML xmodule
.xblock-student_view-html {
  // Center all images
  img {
    display: block;
    margin: 0 auto;
  }

  // hastexo XBlock theme
  .lab_instructions {
    height: 20em;
    overflow-y: auto;
    margin-bottom: 1em;
    box-shadow: .5em .5em .5em black;
  }
}

// Font overrides
body,
p,
label,
.course-content .sequence .path,
.course-tabs li a,
.course-navigation .button-chapter .group-heading {
  font-family: $sans-serif;
}

.courseware-bookmarks-button .bookmarks-list-button {
  font-size: 13px !important;
}

// Link color overrides
p,
.info-wrapper .handouts {
  a {
    color: $link-color !important;
    &:hover { color: $link-hover !important; }
  }
}

.home {
  > header {
    .outer-wrapper {
      animation: none !important;
    }

    .title {
      background: none !important;
      > .heading-group {
        h1 {
          text-transform: none !important;
          color: white;
          text-shadow: 0 1px $dark-green !important;
          font-weight: bold;
        }

        h2 {
          text-transform: none !important;
          color: white;
          text-shadow: 0 1px $dark-green !important;
        }
      }
    }
  }
}

.course-index .accordion .course-navigation .button-chapter.active .group-heading {
  color: inherit !important;
  font-weight: normal !important;
}

// Remove border around SUSE logos
.course-info .course-profile .intro-inner-wrapper .media .hero {
  border: none !important;
}

.dashboard .my-courses .course .details .wrapper-course-image .cover {
  border: none !important;
  border-bottom: none !important;
}

// Hide problem title
.course-content {
  .problem-header,
  .problem-progress {
      display: none !important;
  }
}
