$bright-blue:         rgb( 23, 215, 244);
$dark-blue:           rgb( 43, 159, 176);
$medium-blue:         rgb( 47, 188, 211);
$light-blue:          rgb( 54, 209, 232);
$tint-blue:           rgb(201, 234, 239);

$bright-green:        rgb(193, 216,  47);
$dark-green:          rgb( 67, 149,  57);
$medium-green:        rgb(122, 193,  66);
$light-green:         rgb(208, 228, 166);
$tint-green:          rgb(235, 246, 220);

$dirty-concrete:      rgb(50, 50, 53);
