@import 'lms/static/sass/partials/base/variables';

// Import color palette
@import 'cloudify-colors';

// Fonts
$sans-serif: 'Arial', 'Helvetica', sans-serif;
$serif: $sans-serif;
$header-sans-serif: $sans-serif;
$f-sans-serif: $sans-serif;
$f-serif: $sans-serif;

// Colors
$action-primary-bg: $dark-blue;
$action-primary-shadow: $medium-blue;
$action-primary-focused-bg: $medium-blue;
$action-primary-active-bg: $medium-blue;
$action-primary-active-shadow: $medium-blue;
$link-color: $dark-blue;
$link-color-d1: $dark-blue;
$link-hover: $medium-blue;
$button-color: $medium-blue;

// Header
$header-bg: $dirty-concrete;

// Body
$homepage-bg-image: url('#{$static-path}/images/banner.jpg');

// Footer
$footer-bg: $dirty-concrete;
