@import 'lms/static/sass/partials/base/variables';

// Import City Cloud color palette
@import 'citycloud-colors';

$sans-serif: 'Roboto', sans-serif;
$serif: $sans-serif;
$header-sans-serif: $sans-serif;
$f-sans-serif: $sans-serif;
$f-serif: $sans-serif;
$body-font-family: $sans-serif !important;

// Colors
$action-primary-bg: $citycloud-blue-light;
$action-primary-shadow: $citycloud-blue-dark;
$action-primary-focused-bg: $citycloud-blue-dark;
$action-primary-active-bg: $citycloud-blue-dark;
$action-primary-active-shadow: $citycloud-blue-dark;
$link-color: $citycloud-blue-light;
$link-color-d1: $citycloud-blue-light;
$link-hover: $citycloud-blue-dark;
$button-color: $citycloud-blue-dark;

// Header
$header-bg: $citycloud-grey-medium;

// Body
$homepage-bg-image: url('#{$static-path}/images/banner.png');

// Footer
$footer-bg: $citycloud-grey-dark;
