@import 'lms/static/sass/partials/base/variables';

// Fonts
$sans-serif: 'Open Sans', $verdana, sans-serif;
$serif: $georgia;
$header-sans-serif: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
$f-sans-serif: 'Open Sans','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$f-serif: 'Bree Serif', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;

// Colors
$action-primary-bg: $m-blue-d3;
$action-primary-shadow: $m-blue-d4;
$action-primary-focused-bg: $m-blue-d1;
$action-primary-active-bg: $m-blue;
$action-primary-active-shadow: $m-blue-d2;
$link-color: $uxpl-blue-base;
$link-color-d1: $link-color;
$link-hover: $uxpl-blue-hover-active;
$button-color: $uxpl-blue-base;

// Header
$header-bg: $white;

// Body
$homepage-bg-image: url('#{$static-path}/images/banner.jpg');

// Footer
$footer-bg: $white;
