@import 'lms/static/sass/partials/base/variables';
@import '../ubuntu/core-constants';
$gutter: golden-ratio(1em, 1);

// Fonts
$sans-serif: Ubuntu, sans-serif;
$serif: $sans-serif;
$header-sans-serif: Ubuntu, sans-serif;
$f-sans-serif: Ubuntu, sans-serif;
$f-serif: Ubuntu, serif;

// Font weights and sizes
$font-regular: $font-light;
$m-base-font-size: em(16);

// Colors
// Everything that's blue in the original, turns to Ubuntu orange
$blue: $ubuntu-orange;
$blue-l1: tint($blue,20%);
$blue-l2: tint($blue,40%);
$blue-l3: tint($blue,60%);
$blue-l4: tint($blue,80%);
$blue-l5: tint($blue,90%);
$blue-d1: shade($blue,5%);
$blue-d2: shade($blue,10%);
$blue-d3: shade($blue,15%);
$blue-d4: shade($blue,20%);
$blue-d5: shade($blue,25%);
$blue-d6: shade($blue,30%);
// $m-blue* is the ostensibly deprecated cousin of $blue*, but is
// still used all over the place
$m-blue: $blue;
$m-blue-l1: $blue-l1;
$m-blue-l2: $blue-l2;
$m-blue-l3: $blue-l3;
$m-blue-l4: $blue-l4;
$m-blue-l5: $blue-l5;
$m-blue-d1: $blue-d1;
$m-blue-d2: $blue-d2;
$m-blue-d3: $blue-d3;
$m-blue-d4: $blue-d4;
$m-blue-d5: $blue-d5;
$m-blue-d6: $blue-d6;
// uxpl-blue* is the ostensibly default edX pattern library blue,
// which ought to be used everywhere but isn't
$uxpl-blue-base: $ubuntu-orange;
$uxpl-blue-hover-active: tint($ubuntu-orange,20%);

$action-primary-bg: $blue-d3;
$action-primary-shadow: $blue-d4;
$action-primary-focused-bg: $blue-d1;
$action-primary-active-bg: $blue;
$action-primary-active-shadow: $m-blue-d2;
$link-color: $uxpl-blue-base;
$link-color-d1: $link-color;
$link-hover: $uxpl-blue-hover-active;
$button-color: $uxpl-blue-base;

// Header
$header-bg: $ubuntu-orange;
$course-header-bg: none;

// Body
$homepage-bg-image: url('#{$static-path}/images/banner.jpg');

// Footer
$footer-bg: $white;
