@import 'lms/static/sass/partials/base/variables';
@import '../ubuntu/core-constants';
$gutter: golden-ratio(1em, 1);

// Fonts
$sans-serif: Ubuntu, sans-serif;
$serif: $georgia;
$header-sans-serif: Ubuntu, sans-serif;
$f-sans-serif: Ubuntu, sans-serif;
$f-serif: Ubuntu, serif;

// Font weights and sizes
$font-regular: $font-light;
$m-base-font-size: em(16);

// Colors
$action-primary-bg: $m-blue-d3;
$action-primary-shadow: $m-blue-d4;
$action-primary-focused-bg: $m-blue-d1;
$action-primary-active-bg: $m-blue;
$action-primary-active-shadow: $m-blue-d2;
$link-color: $ubuntu-orange;
$link-color-d1: $link-color;
$link-hover: $link-color;
$button-color: $ubuntu-orange;

// Header
$header-bg: $white;

// Body
$homepage-bg-image: url('#{$static-path}/images/banner.jpg');

// Footer
$footer-bg: $white;
