<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Honor Code")}</h1>
        <p>By using our site, you agree to
          our <a href="/privacy">Privacy Policy</a> and
          <a href="/tos">Terms of Service</a>, and you further agree
          to never use resources, materials and interactive content
          made available to you on this site for malicious or illegal
          purposes.</p>
	<p>You also agree to be excellent to your fellow learners who
	  may be collaborating with you on this platform.</p>
	<p>Failure to comply with this code may result in permanent
	  revocation of access to this site, personal liability, or
	  criminal prosecution.</p>
    </section>
</main>
