<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Privacy Policy")}</h1>
<p>We value your privacy! Please consider the information provided in
this page. If you disagree with this policy and prefer to leave this
site, please <a href="/contact">leave us a note before you go</a> &mdash; we would
like to hear your concerns.</p>

<p>We reserve the right to update or revise this Policy at any time
without notice. Please check the Policy for changes. Revisions of this
Policy will be effective immediately as soon as they are posted on the
site, and by continuing to use the site you agree to be bound by the
revised policy.</p>

<h2>Comments</h2>

<p>Please note that any comments you leave on this site are public by
nature. We will attempt to remove comments that are offensive or
inflammatory, or that the author requests we delete. However, by the
time we delete content on this site, it may have already been scraped
by other web sites, stored in search engine caches, and so forth, so
we cannot guarantee that such removals will be successful.</p>

<h2>Customer relationship management</h2>

<p>We keep customer relationship management (CRM) information in
Insightly, a cloud CRM service running on the <a href="https://www.google.com/work/apps/business/">Google
Apps</a> platform. Insightly
does not share your information with third parties. We encourage you
to review <a href="https://www.insightly.com/privacy-policy/">Insightly's Privacy
Policy</a>.</p>

<h2>Use of user data</h2>

<p>With the exception of public comments and CRM related information as
explained above, we will not disseminate any other information you
leave on our website to third parties without your consent, except in
compliance with a lawful request from authorities. We may, however,
use statistics and aggregate information for purposes of research,
internal review, case studies, and the like.</p>

<h2>Cookies</h2>

<p>Some parts of our site uses cookies for the purpose of user
identification. By continuing to use our site, you are giving your
consent to us using cookies for visitor identification.</p>

<h2>Payment data</h2>

<p>For on-line purchases, we make use of off-site, third-party Payment
Service Provider (PSP) gateways. Sensitive payment-related data, such
as credit card or bank account numbers, is not stored on our
systems. We select PSPs which offer compliance with PCI DSS and other
applicable standards, and will use commercially reasonable efforts to
temporarily or permanently block PSPs shown to be
non-compliant. However, we cannot accept liability for non-compliance
of these third parties.</p>

<h2>Web analytics services</h2>

<p>This website uses Google Analytics, a web analytics service provided
by Google, Inc. ( Google ). Google Analytics uses  cookies , which are
text files placed on your computer, to help the website analyze how
users use the site. The information generated by the cookie about your
use of the website (including your IP address) will be transmitted to
and stored by Google on servers in the United States. Google will use
this information for the purpose of evaluating your use of the
website, compiling reports on website activity for website operators
and providing other services relating to website activity and internet
usage.  Google may also transfer this information to third parties
where required to do so by law, or where such third parties process
the information on Google's behalf. Google will not associate your IP
address with any other data held by Google. You may refuse the use of
cookies by selecting the appropriate settings on your browser, however
please note that if you do this you may not be able to use the full
functionality of this website. By using this website, you consent to
the processing of data about you by Google in the manner and for the
purposes set out above.</p>

<h2>Updates</h2>

<p>We reserve the right to update this policy from time to time and
without notice. By continuing to use this site after an policy update,
you indicate your agreement with the updated policy.</p>

<h2>Applicable privacy law</h2>

<p>hastexo Professional Services GmbH is subject to Austrian law,
specifically the Data Protection Act of 2000 <em>(Datenschutzgesetz
2000),</em> which implements Directive 95/46/EC (the European Union Data
Protection Directive).</p>
    </section>
</main>
