<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Terms of Service")}</h1>
	<p>By visiting or using:
	  <ul>
	    <li><code>academy.hastexo.com</code>,</li>
	    <li><code>academy.citycloud.com</code>,</li>
	    <li>any other website under the <code>hastexo.com</code>
domain created by hastexo Professional Services GmbH, a company under
Austrian law with its principal place of business at Karl Theuer
Strasse 21, 2514 Traiskirchen, Austria ("hastexo"),</li>
	    <li>any other website under the <code>citycloud.com</code>
domain created by City Network Hosting AB, a company under Swedish law
with its principal place of business at Borgmästaregatan 18, 371 34
Karlskrona, Sweden ("City Network"),</li>
	  </ul>
	    you agree to be legally bound by the following terms. If
you do not agree to these terms, you should not use this site.</p>

<p>We reserve the right to update or revise these Terms of Use at any
time without notice. Please check the Terms of Use periodically for
changes. Revisions of these terms will be effective immediately as
soon as they are posted on the site, and by continuing to use the site
you agree to be bound by the revised terms. If you have any questions
regarding these terms, please contact us.</p>

<h2>1. Disclaimer</h2>

<p>All materials, information, software, products and services, included
in or available through this site (collectively, the "Content") are
provided on an "as-is" basis. The Content is provided without
warranties of any kind.</p>

<p>We do not warrant that the Content is accurate, reliable or correct;
that this site will be available at any particular time or location,
that any defects or errors will be corrected, or that the content is
free of harmful components. Your use of this site is solely at your
own risk. You view, download or otherwise obtain any material through
this website at your own discretion and risk. You will be solely
responsible for any damage, including without limitation personal
injury or distress, damage to your computer system, or loss of data,
that results from viewing or downloading any such material.</p>

<h2>2. User-Contributed Content</h2>

<p>All content contributed to the website by individuals other than
members, employees, or contractors of hastexo or City Network,
including but not limited to comments, file uploads and support
tickets, is subject to our Privacy Policy. As far as such content is
public, it is also subject to the Creative Commons Attribution
Share-Alike (CC-BY-SA) 3.0 license.</p>

<p>For any content you contribute or upload to our website, you
certify that you are legally entitled to do so, and that you are
granting hastexo and City Network a perpetual, royalty free,
non-transferable license to use and store that content in accordance
with our Privacy Policy and CC-BY-SA 3.0.</p>

<h2>3. Copyright</h2>

<p>Unless explicitly stated otherwise, any reproduction, modification,
distribution, transmission, republication, display or performance,
whether or not for profit or commercial gain, of any part of the
website or website design, requires prior written permission or
authorization.</p>
    </section>
</main>
