// Theme overrides for edx.org
//
// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

// Load code highlighter
@import "pygments";

// Load Ubuntu patterns
@import "ubuntu/patterns/patterns";

// Import Ubuntu responsive CSS (not available as Sass)
@import 'https://assets.ubuntu.com/v1/126653c9-global-responsive.css';

// Disable org button
.course-info .intro .heading-group span {
  display: none;
}

// Disable "audit track" message
.wrapper-auto-cert {
  display: none;
}

// Scale (don't crop) images in course cards
.courses-container .courses .course .course-image .cover-image img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.dashboard {
  .main-container .my-courses .course .details {
    .wrapper-course-image.wrapper-course-image {
      max-height: none;
      height: 150px;
      .cover {
        float: none;
        .course-image {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

// Format lab instructions for on-screen output
@media screen {
  // The HTML xmodule
  .xblock-student_view-html {
    // Center all images
    img {
      display: block;
      margin: 0 auto;
    }

    // hastexo XBlock theme
    .lab_instructions {
      height: 20em;
      overflow-y: auto;
      margin-bottom: 1em;
      box-shadow: .5em .5em .5em black;
    }
  }
}

// Hide nonessential items in printouts
@media print {
    nav,
    button,
    footer,
    .sequence-nav,
    .course-index,
    .instructor-info-action,
    #terminal {
      display: none !important;
    }

    header,
    .course-content,
    .course-index,
    .course-wrapper {
      border: none !important;
    }
}

// http://design.ubuntu.com/web-style-guide/typography

body {
    font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Ubuntu, sans-serif !important;
  line-height: 1.3 !important;
}

h1, h2, h3, h4 {
  font-weight: 300 !important;
}

h2 {
  text-transform: none !important;
}

h5, h6 {
  font-weight: bold !important;
}

h1 {
  font-size: 45px !important;
}

h2 {
  font-size: 32px !important;
}

h3 {
  font-size: 23px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 16px !important;
}

h5 {
  font-size: 13px !important;
  text-transform: uppercase !important;
}

p {
  line-height: 1.5 !important;
}

label {
  font-weight: normal !important;
}

// header.banner {
header.header-global {
    border-top: 0;
    min-width: 100%;
    width: auto;
    background: $ubuntu-orange;
    display: block;
    position: relative;
    z-index: 2;
    padding: none; // edx specific
    height: auto;  // edx specific
    border-bottom: 1px solid #919191;

//  .nav-primary {
    nav.wrapper-header {
	border: 0;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;   // edx specific
	height: auto; // edx specific

//      ul {
	.nav-global {
	    border-right: 1px solid lighten($ubuntu-orange, 10%);
	    float: left;
	    margin: 0;
	    position: relative;

	    li {
		border-left: 1px solid darken($ubuntu-orange, 5%);
		float: left;
		list-style-image: none;
		margin: 0;
		text-indent: 0;
		vertical-align: bottom;
		text-transform: none; // edx specific
	    }

	    li:last-child {
		border-right: 1px solid darken($ubuntu-orange, 5%);
	    }

	    li a:link,
	    li a:visited {
		font-size: 14px;
		border-left: 1px solid lighten($ubuntu-orange, 7%);
		color: #fff;
		display: block;
		margin-bottom: 0;
		padding: 14px 14px 13px;
		position: relative;
		text-align: center;
		text-decoration: none;
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-font-smoothing: subpixel-antialiased;
		-o-font-smoothing: subpixel-antialiased;
		font-smoothing: subpixel-antialiased;
		font-weight: normal;  // edx specific
	    }

	    a.active {
		background: #B83A10;
		border-left: 1px solid lighten($ubuntu-orange, 7%);
		font-weight: normal;  // edx specific
	    }

	    li a:hover {
		background: #e1662f;
		border-top: 0;
		@include box-shadow(inset 0 2px 2px -2px #777);
		font-weight: normal;  // edx specific
	    }
	} // end ul

    } // nav-primary
    .logo {
	border-left: 0;
  	float: left;
	height: 48px;
  	overflow: hidden;
	letter-spacing: 0;
    }
    
    .logo-ubuntu {
  	background: url("#{$asset-path}ubuntu-logo.png") no-repeat scroll 0 10px transparent;
	font-size: 18px;
	margin-bottom: 0;
	position: relative;
	text-transform: lowercase;
	float: left;
	margin: 0;
	display: inline-block;
	height: 32px;
	min-width: 128px;
	margin-right: -20px;
	margin-left: 10px;
	padding: 7px 14px 9px 0;
	
	img {
	    margin-right: 8px;
	    position: absolute;
	    left: -999em;
	}
	
	span {
	    float: left;
	    font-size: 23px;
	    font-weight: 300;
	    padding-left: 122px;
	    padding-right: 20px;
	    position: relative;
	    top: 5px;
	    color: white;
	}
    }

    &.slim {
	h2 {
	    text-shadow: none !important;
	    color: white !important;
	    font-size: $m-base-font-size !important;
	    font-weight: $font-regular !important;
	    margin-top: 18px !important;
	}
    }

} // end header.banner

// a.link-cta-inverted,
// button.cta-inverted {
a.btn-login {
	background: #fff !important;
	color: $cool-grey !important;
}

.course-info .details {
    font-weight: $font-regular !important;

    li {
        font-weight: $font-regular !important;
    }
}
