// Theme overrides for edx.org
//
// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

// Load code highlighter
@import "pygments";

// Disable org button
.course-info .intro .heading-group span {
  display: none;
}

// Disable "audit track" message
.wrapper-auto-cert {
  display: none;
}

// Scale (don't crop) images in course cards
.courses-container .courses .course .course-image .cover-image img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.dashboard {
  .main-container .my-courses .course .details {
    .wrapper-course-image.wrapper-course-image {
      max-height: none;
      height: 150px;
      .cover {
        float: none;
        .course-image {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

// Format lab instructions for on-screen output
@media screen {
  // The HTML xmodule
  .xblock-student_view-html {
    // Center all images
    img {
      display: block;
      margin: 0 auto;
    }

    // hastexo XBlock theme
    .lab_instructions {
      height: 20em;
      overflow-y: auto;
      margin-bottom: 1em;
      box-shadow: .5em .5em .5em black;
    }
  }
}

// Hide nonessential items in printouts
@media print {
    nav,
    button,
    footer,
    .sequence-nav,
    .course-index,
    .instructor-info-action,
    #terminal {
      display: none !important;
    }

    header,
    .course-content,
    .course-index,
    .course-wrapper {
      border: none !important;
    }
}

.xblock-student_view-html {
  // hastexo XBlock theme
  .lab_instructions {
    font-family: "Arimo", sans-serif !important;

    h1 {
      margin: 0 !important;
      font-size: 1.5em !important;
      font-family: "Arimo", sans-serif !important;
    }

    h2 {
      margin-top: 2em !important;
      color: #808080 !important;
      font-size: 1.25em !important;
      font-family: "Arimo", sans-serif !important;
    }

    h3 {
      margin-top: 1.5em !important;
      color: #808080 !important;
      font-size: 1.1em !important;
      font-family: "Arimo", sans-serif !important;
      text-align: center !important;
    }

    p {
      margin: 0 !important;
      font-family: "Arimo", sans-serif !important;
    }

    blockquote {
      margin: 2em 0 0 0 !important;
      border-top: thin solid black !important;
      border-bottom: thin solid black !important;
      font-size: 0.85em !important;
      font-weight: bold !important;
      font-family: "Arimo", sans-serif !important;

      p {
        margin-top: 0.5em !important;
      }

      p:first-child {
        margin-top: 0 !important;
      }
    }

    pre {
      font-family: "Anonymous Pro" !important;
      font-weight: bold !important;
      margin-left: 2em !important;
    }

    code {
      font-family: "Anonymous Pro" !important;
      color: #3465a4 !important
    }
  }
}

.header-global {
  border-bottom: 1px solid #919191;
}

// Font overrides
body,
p,
label,
.course-content .sequence .path,
.course-tabs li a,
.course-navigation .button-chapter .group-heading {
  font-family: $font-family-sans-serif;
}

.courseware-bookmarks-button .bookmarks-list-button {
  font-size: 13px !important;
}

// Link color overrides
p,
.info-wrapper .handouts {
  a {
    color: $link-color !important;
    &:hover { color: $link-hover !important; }
  }
}

.home {
  > header {
    .outer-wrapper {
      animation: none !important;
    }

    .title {
      background: none !important;
      > .heading-group {
        h1 {
          text-transform: none !important;
          color: white;
          text-shadow: 0 1px $dark-green !important;
          font-weight: bold;
        }

        h2 {
          text-transform: none !important;
          color: white;
          text-shadow: 0 1px $dark-green !important;
        }
      }
    }
  }
}

.course-index .accordion .course-navigation .button-chapter.active .group-heading {
  color: inherit !important;
  font-weight: normal !important;
}

// Remove border around SUSE logos
.course-info .course-profile .intro-inner-wrapper .media .hero {
  border: none !important;
}

.dashboard .my-courses .course .details .wrapper-course-image .cover {
  border: none !important;
  border-bottom: none !important;
}

// Course
.course-view {
  .course-outline {
    h3,h4 {
      color: $dark;
    }
  }
}

// Footer
.wrapper-footer {
  background: $footer-bg;

  footer,
  footer#footer-openedx {
    .copyright {
      color: $gray-600;
      margin: -2px 0 8px;
      font-size: 0.6875em;
    }
  }
}
