// Theme overrides for edx.org
//
// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

// Load code highlighter
@import "pygments";

// Disable org button
.course-info .intro .heading-group span {
  display: none;
}

// Disable "audit track" message
.wrapper-auto-cert {
  display: none;
}

// Scale (don't crop) images in course cards
.courses-container .courses .course .course-image .cover-image img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.dashboard {
  .main-container .my-courses .course .details {
    .wrapper-course-image.wrapper-course-image {
      max-height: none;
      height: 150px;
      .cover {
        float: none;
        .course-image {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

// Format lab instructions for on-screen output
@media screen {
  // The HTML xmodule
  .xblock-student_view-html {
    // Center all images
    img {
      display: block;
      margin: 0 auto;
    }

    // hastexo XBlock theme
    .lab_instructions {
      height: 20em;
      overflow-y: auto;
      margin-bottom: 1em;
      box-shadow: .5em .5em .5em black;
    }
  }
}

// Hide nonessential items in printouts
@media print {
    nav,
    button,
    footer,
    .sequence-nav,
    .course-index,
    .instructor-info-action,
    #terminal {
      display: none !important;
    }

    header,
    .course-content,
    .course-index,
    .course-wrapper {
      border: none !important;
    }
}
