// Theme overrides for edx.org
//
// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

// Import external fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Load code highlighter
@import "pygments";

// Disable org button
.course-info .intro .heading-group span {
  display: none;
}

// Disable "audit track" message
.wrapper-auto-cert {
  display: none;
}

// Disable edx.org wording on account deletion tab
.account-deletion-details .account-settings-header-subtitle {
  display: none;
}

// Scale (don't crop) images in course cards
.courses-container .courses .course .course-image .cover-image img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.dashboard {
  .main-container .my-courses .course .details {
    .wrapper-course-image.wrapper-course-image {
      max-height: none;
      height: 150px;
      .cover {
        float: none;
        .course-image {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

// Format lab instructions for on-screen output
@media screen {
  // The HTML xmodule
  .xblock-student_view-html {
    // Center all images
    img {
      display: block;
      margin: 0 auto;
    }

    // hastexo XBlock theme
    .lab_instructions {
      height: 20em;
      overflow-y: auto;
      margin-bottom: 1em;
      box-shadow: .5em .5em .5em black;
    }
  }
}

// Hide nonessential items in printouts
@media print {
    nav,
    button,
    footer,
    .sequence-nav,
    .course-index,
    .instructor-info-action,
    #terminal {
      display: none !important;
    }

    header,
    .course-content,
    .course-index,
    .course-wrapper {
      border: none !important;
    }
}

// Main wrapper
.content-wrapper {
  padding: 0;
  margin: 0;
}

// Header
.global-header {
  background: $header-bg !important;

  .header-logo a .logo {
    height: 48px;
  }

  .course-header {
    color: $light !important;
  }

  .nav-links {
    .main a {
      color: $light !important;
    }

    .secondary {
      .nav-item a,
      .toggle-user-dropdown {
        color: $light !important;
      }

      .dropdown-nav-item a {
        color: $dark !important;
      }

      a.sign-in-btn, a.register-btn {
        border-color: $header-bg !important;
      }

      a.sign-in-btn {
        color: $inverse !important;

        &:hover {
          color: $primary !important;
        }
      }

      a.register-btn {
        color: $primary !important;

        &:hover {
          color: $inverse !important;
        }
      }
    }
  }
}

// Home
.home {
  background: $home-bg;

  > header {
    background-attachment: fixed;
    background-color: $home-bg;

    .outer-wrapper {
      animation: none !important;
    }

    .title {
      background: none !important;
      width: 75%;
      margin-left: 15%;

      > .heading-group {
        padding-bottom: 0;

        h1 {
          text-transform: none !important;
          color: white;
          text-shadow: 2px 2px black !important;
          font-weight: bold;
          font-size: 500%;
        }

        p {
          text-transform: none !important;
          color: white;
          text-shadow: 2px 2px black !important;
          font-family: $font-family-sans-serif;
          font-style: normal;
        }
      }
    }
  }

  .courses-container {
    padding-left: $baseline;
    padding-right: $baseline;
  }
}

// Course
.course-view {
  .course-outline {
    h3,h4 {
      color: $dark;
    }
  }
}

// Footer
.wrapper-footer {
  background: $footer-bg;

  footer,
  footer#footer-openedx {
    .copyright {
      color: $gray-600;
      margin: -2px 0 8px;
      font-size: 0.6875em;
    }
  }
}
