<nav role="navigation" id="nav-global">
  <div class="nav-global-wrapper">
    <ul class="nav-global-main">
      <li><a href="http://www.ubuntu.com">Ubuntu</a></li>
      <li><a href="http://community.ubuntu.com/">Community</a></li>
      <li><a href="http://askubuntu.com">Ask!</a></li>
      <li><a href="http://developer.ubuntu.com">Developer</a></li>
      <li><a href="https://design.ubuntu.com">Design</a></li>
      <li><a href="http://www.ubuntu.com/certification">Hardware</a></li>
      <li><a href="https://insights.ubuntu.com">Insights</a></li>
      <li><a href="https://jujucharms.com">Juju</a></li>
      <li><a href="http://maas.ubuntu.com">MAAS</a></li>
      <li><a href="http://partners.ubuntu.com">Partners</a></li>
      <li><a href="https://buy.ubuntu.com/">Shop</a></li>
      <li class="more"><a href="#">More <span>›</span></a>
	<ul class="nav-global-more">
	  <li><a href="https://help.ubuntu.com">Help</a></li>
	  <li><a href="http://ubuntuforums.org">Forum</a></li>
	  <li><a href="http://www.launchpad.net">Launchpad</a></li>
	  <li><a href="http://shop.ubuntu.com">Merchandise</a></li>
	  <li><a href="http://www.canonical.com">Canonical</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
